<app-go-back-button class="md:hidden" label="Change password"></app-go-back-button>
<div class="p-5 md:pt-0 flex flex-column flex-auto">
    <div>
        <div class="hidden md:block text-color font-medium text-xl mb-4">Change password</div>
        <div class="surface-card p-4 shadow-2 border-round">
            <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()" class="grid">
                <div class="col-12 field mb-0">
                    <label for="password">Current password</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <span class="material-icons">lock</span>
                        </p-inputGroupAddon>
                        <input 
                            id="old_password" 
                            type="password"
                            placeholder="Enter current password" 
                            pInputText 
                            class="w-full border-noround-left" 
                            [ngClass]="{'ng-invalid ng-dirty': old_password?.invalid && (old_password?.dirty || old_password?.touched)}"
                            formControlName="old_password"/>
                    </p-inputGroup>
                    @if(old_password?.invalid && (old_password?.dirty || old_password?.touched)){
                        @if(old_password?.errors?.['required']){
                            <small class="p-error block">Password is required.</small>
                        }
                        @if(old_password?.errors?.['minlength']){
                            <small class="p-error block">Password must be at least 8 characters.</small>
                        }
                        @if(old_password?.errors?.['uppercase']){
                            <small class="p-error block">Password must contain at least one uppercase letter.</small>
                        }
                        @if(old_password?.errors?.['lowercase']){
                            <small class="p-error block">Password must contain at least one lowercase letter.</small>
                        }
                        @if(old_password?.errors?.['number']){
                            <small class="p-error block">Password must contain at least one number.</small>
                        }
                        @if(old_password?.errors?.['special']){
                            <small class="p-error block">Password must contain at least one special character.</small>
                        }
                    }
                </div>
                <p-divider class="w-full"></p-divider>
                <div class="col-12 field">
                    <label for="password">Enter new password</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <span class="material-icons">lock</span>
                        </p-inputGroupAddon>
                        <input 
                            id="new_password" 
                            type="password"
                            placeholder="Enter new password" 
                            pInputText 
                            class="w-full border-noround-left" 
                            [ngClass]="{'ng-invalid ng-dirty': new_password?.invalid && (new_password?.dirty || new_password?.touched)}"
                            formControlName="new_password"/>
                    </p-inputGroup>
                    @if(new_password?.invalid && (new_password?.dirty || new_password?.touched)){
                        @if(new_password?.errors?.['required']){
                            <small class="p-error block">Password is required.</small>
                        }
                        @if(new_password?.errors?.['minlength']){
                            <small class="p-error block">Password must be at least 8 characters.</small>
                        }
                        @if(new_password?.errors?.['uppercase']){
                            <small class="p-error block">Password must contain at least one uppercase letter.</small>
                        }
                        @if(new_password?.errors?.['lowercase']){
                            <small class="p-error block">Password must contain at least one lowercase letter.</small>
                        }
                        @if(new_password?.errors?.['number']){
                            <small class="p-error block">Password must contain at least one number.</small>
                        }
                        @if(new_password?.errors?.['special']){
                            <small class="p-error block">Password must contain at least one special character.</small>
                        }
                        @if(new_password?.errors?.['newPasswordSameAsOld']){
                            <small class="p-error block">New password cannot be same as current one.</small>
                        }
                    }
                </div>
                <div class="col-12 field">
                    <label for="password">Repeat new password</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <span class="material-icons">lock</span>
                        </p-inputGroupAddon>
                        <input 
                            id="new_password_repeat" 
                            type="password"
                            placeholder="Repeat new password" 
                            pInputText 
                            class="w-full border-noround-left" 
                            [ngClass]="{'ng-invalid ng-dirty': new_password_repeat?.invalid && (new_password_repeat?.dirty || new_password_repeat?.touched)}"
                            formControlName="new_password_repeat"/>
                    </p-inputGroup>
                    @if(new_password_repeat?.invalid && (new_password_repeat?.dirty || new_password_repeat?.touched)){
                        @if(new_password_repeat?.errors?.['required']){
                            <small class="p-error block">Password is required.</small>
                        }
                        @if(new_password_repeat?.errors?.['minlength']){
                            <small class="p-error block">Password must be at least 8 characters.</small>
                        }
                        @if(new_password_repeat?.errors?.['uppercase']){
                            <small class="p-error block">Password must contain at least one uppercase letter.</small>
                        }
                        @if(new_password_repeat?.errors?.['lowercase']){
                            <small class="p-error block">Password must contain at least one lowercase letter.</small>
                        }
                        @if(new_password_repeat?.errors?.['number']){
                            <small class="p-error block">Password must contain at least one number.</small>
                        }
                        @if(new_password_repeat?.errors?.['special']){
                            <small class="p-error block">Password must contain at least one special character.</small>
                        }
                        @if(new_password_repeat?.errors?.['passwordsMismatch']){
                            <small class="p-error block">Please enter the same password as above.</small>
                        }
                    }
                </div>
                <p-divider class="w-full"></p-divider>
                <div class="col-12">
                    @if(this.editAJAX){
                        <p-progressBar mode="indeterminate"></p-progressBar>
                    } @else {
                        <button type="submit" [disabled]="!editPasswordForm.valid" pButton pRipple class="w-auto">
                            <span class="p-button-icon p-button-icon-left material-icons" aria-hidden="true">save</span>
                            <span class="p-button-label">Save Changes</span>
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>