<p-card class="w-full align-items-center flex justify-content-center md:px-8 sm:px-6 px-4 py-8" styleClass="p-4 shadow-2 border-round w-full md:w-9">
    <ng-template pTemplate="header">
        <div class="text-center mb-3">
            <span class="material-icons text-5xl text-color">local_mall</span>
            <div class="text-color text-3xl font-medium mb-2">Finish registration</div>
            <small class="block">In order to complete registration with your google account, please enter details below.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="finishRegisterForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
            <div>
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <span class="material-icons">person</span>
                  </p-inputGroupAddon>
                  <p-floatLabel class="w-full h-full cst-float">
                    <input 
                      id="username" 
                      type="text" 
                      placeholder="Username" 
                      pInputText 
                      class="w-full border-noround-left" 
                      [ngClass]="{'ng-invalid ng-dirty': username?.invalid && (username?.dirty || username?.touched)}"
                      formControlName="username"/>
                    <label for="username">Username *</label>
                  </p-floatLabel>
                </p-inputGroup>
                @if(username?.invalid && (username?.dirty || username?.touched)){
                    @if(username?.errors?.['required']){
                        <small class="p-error block">Username is required.</small>
                    }
                    @if(username?.errors?.['minlength']){
                        <small class="p-error block">Username must be at least 6 characters.</small>
                    }
                    @if(username?.errors?.['maxlength']){
                        <small class="p-error block">Username must be at most 24 characters.</small>
                    }
                    @if(username?.errors?.['pattern']){
                        <small class="p-error block">Username cannot contain the '&#64;' symbol.</small>
                    }
                }
            </div>
            <div>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <span class="material-icons">lock</span>
                    </p-inputGroupAddon>
                    <p-floatLabel class="w-full h-full cst-float">
                        <input 
                            id="password" 
                            type="password" 
                            placeholder="Password" 
                            pInputText 
                            class="w-full border-noround-left" 
                            [ngClass]="{'ng-invalid ng-dirty': password?.invalid && (password?.dirty || password?.touched)}"
                            formControlName="password"/>
                        <label for="password">Password *</label>
                    </p-floatLabel>
                </p-inputGroup>
                @if(password?.invalid && (password?.dirty || password?.touched)){
                    @if(password?.errors?.['required']){
                        <small class="p-error block">Password is required.</small>
                    }
                    @if(password?.errors?.['minlength']){
                        <small class="p-error block">Password must be at least 8 characters.</small>
                    }
                    @if(password?.errors?.['uppercase']){
                        <small class="p-error block">Password must contain at least one uppercase letter.</small>
                    }
                    @if(password?.errors?.['lowercase']){
                        <small class="p-error block">Password must contain at least one lowercase letter.</small>
                    }
                    @if(password?.errors?.['number']){
                        <small class="p-error block">Password must contain at least one number.</small>
                    }
                    @if(password?.errors?.['special']){
                        <small class="p-error block">Password must contain at least one special character.</small>
                    }
                }
            </div>
            <div>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <span class="material-icons">calendar_month</span>
                    </p-inputGroupAddon>
                    <p-floatLabel class="w-full h-full cst-float">
                        <p-calendar 
                            id="date_of_birth" 
                            placeholder="Date of birth" 
                            class="w-full border-noround-left" 
                            [ngClass]="{'ng-invalid ng-dirty': dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched)}"
                            formControlName="date_of_birth"
                            dateFormat="dd.mm.yy"
                            styleClass="w-full h-full border-noround-left cst-calendar-input"/>
                        <label for="date_of_birth">Date of birth</label>
                    </p-floatLabel>
                </p-inputGroup>
                @if(dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched)){
                    @if(dateOfBirth?.errors?.['underage']){
                        <small class="p-error block">You must be at least 16 years old.</small>
                    }
                }
            </div>
            <div>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <span class="material-icons">call</span>
                    </p-inputGroupAddon>
                    <p-floatLabel class="w-full h-full cst-float">
                        <input 
                            id="phone" 
                            type="text" 
                            placeholder="Phone" 
                            pInputText 
                            class="w-full border-noround-left" 
                            [ngClass]="{'ng-invalid ng-dirty': phone?.invalid && (phone?.dirty || phone?.touched)}"
                            formControlName="phone"/>
                        <label for="phone">Phone</label>
                    </p-floatLabel>
                </p-inputGroup>
                @if(phone?.invalid && (phone?.dirty || phone?.touched)){
                    @if(phone?.errors?.['maxlength']){
                        <small class="p-error block">Phone number can't be longer than 25 characters.</small>
                    }
                }
            </div>
            @if(this.registerAJAX){
                <p-progressBar mode="indeterminate"></p-progressBar>
            } @else {
                <button type="submit" [disabled]="!finishRegisterForm.valid" pButton pRipple class="w-full">
                    <span class="p-button-icon p-button-icon-left material-icons" aria-hidden="true">person</span>
                    <span class="p-button-label">Finish</span>
                </button>
            }
        </form>
    </ng-template>
</p-card>